<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password Form</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Forgot Password</h1>
		</div>
		
		<div th:if="${error != null}">
	<p class="text-warning">[[${error}]]</p>
	</div>
					<div>
 		<p>We will be sending reset password link to the email provided</p>
			</div>
	
	<div th:if="${mesage != null}">
	<p class="text-warning">[[${message}]]</p>
	</div>
		<form th:action="@{/forgot_password}" method="post"
			style="max-width: 600px; margin: 0 auto" th:object="${user}">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-form-label col-4">E-mail</label>
					<div class="col-8">
						<input type="email" name="email" class="form-controll"placeholder="Enter your email"
							required />
					</div>
                    </div>
				<div>
					<button type="submit" class="btn btn-primary">send</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>