<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css">

<title>User Login</title>
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1 class="container text-center">Login page</h1>
							<div class="border border-secondary rounded p-1">
				<form th:action="@{/login}" method="post" style="max-width: 300px; margin: 0 auto;"
				id="login">
					<div th:if="${param.error}">
						<div class="alert alert-danger">Invalid email or password.</div>
					</div>
					
					<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
					</div>
					
					<div class="form-group">
						<label for="username">E-mail</label>: <input type="email"
							name="email" class="form-control"
							autofocus="autofocus" placeholder="example@gmail.com" />
					</div>
					
					<div class="form-group">
						<label for="password">Password</label>: <input type="password"
							name="password" class="form-control"
							placeholder="Password" />
					</div>
					
					<input type="checkbox" name="remember-me" />Remember me on this computer
					
					
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="Log In" />
							</div>
						</div>
					</div>
					
 				<div class="form-group">
	<span>New user? <a href="/" th:href="@{/registerUser}">Register here</a></span>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>